%div.results-section.panel
  %div.results-section__title
    %h3.text-uppercase
      %strong Results
  %div.results-section__primary.bump-right
    = render 'visitors/criteria'
  %div.results-section__secondary
    %ul
      %li.pull-left
        %p Search
      %li.pull-right
        %input{type:"search", class:"search-query"}
  %div.results-section__graph1.push-down
    %p.line-separator.bump-right
    %p.bump-right This week my teacher let me know that I did a good job.
    %div#teacher_graph.pull-left
      = render 'visitors/donut1'
    %div.graph-legend
      = render 'visitors/legends1'
  %div.results-section__graph2
    %p.line-separator.bump-right
    %p.bump-right Our school administrators looked out for our needs this week.
    %div#administrator_graph.pull-left
      = render 'visitors/donut2'
    %div.graph-legend
      = render 'visitors/legends2'
