%div.row
  %div.col-lg-12
    %div.col-lg-2.custom-padding
      = render 'visitors/school'
      = render 'visitors/people'
      = render 'visitors/tags'
      = render 'visitors/groups'
    %div.col-lg-5.custom-padding
      = render 'visitors/community'
      = render 'visitors/livequestions'
    %div.col-lg-5.custom-padding
      = render 'visitors/display'
      = render 'visitors/results'
  %div.all-clear
