%div
  = render 'visitors/school'
  = render 'visitors/people'
  = render 'visitors/tags'
  = render 'visitors/groups'
  = render 'visitors/community'
  = render 'visitors/livequestions'
  = render 'visitors/display'
  = render 'visitors/results'
